.Dash{
    padding: 20px !important;
}
.Dash form {
    background-color: #f5fff0;
    padding: 20px;
    border-radius: 8px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}
.Dash label {
    color: #2e8b57;
    font-weight: bold;
}
.Dash input[type="text"], textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #c0e4c3;
    border-radius: 4px;
    box-sizing: border-box;
}
.Dash button {
    background-color: #2e8b57;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
.Dash button:hover {
    background-color: #3cb371;
}
.Dash ,.comment-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.Dash ,.comment-box  {
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}
