/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Contact img{
  width: 100%;
}
.footer{
    background-color: rgba(0, 0, 0, 0.819);
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer ul li {
opacity: 0.8;
}

.logo_white {
  display: flex;
  justify-content: center;
}
.logo_white img {
  width: 10vh;
}
.Logo_Footer {
  width: 20vh;
}

.adress {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 2;
  opacity: 0.8;
}

.list-unstyled{
    display: flex;
    justify-content:space-around;
    gap: 25px;
    margin-top: 35px;
    flex-wrap: wrap;

}
svg{
  font-size: 20px;
}
a{
  color:antiquewhite;
} */




footer {
  background-color: var(--light_gray);
  padding: 50px 0;
  text-align: right;
  color: var(--black);
}

.footerLogo img {
  width: 150px;
}

footer h4 {
  color: var(--color--green);
}

footer h6,footer p {
  color: var(--dark_gray);
}

footer h6 a {
  color: var(--color--green);
  text-decoration: none;
}

footer h6 a:hover {
  color: var(--color--red1);
  text-decoration: underline;
}

.footer-notice p {
  color: var(--dark_gray);
  font-size: 14px;
  margin-top: 20px;
}

.social-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

.social-menu ul li a {
  color: var(--color--green);
  font-size: 20px;
  text-decoration: none;
}

.social-menu ul li a:hover {
  color: var(--color--red1);
}

.fa-phone {
  color: var(--color--green);
}

.footer-4-content h6 {
  color: var(--dark_green);
}

.footer-4-content p {
  font-size: 14px;
  color: var(--dark_gray);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  footer {
    text-align: center;
  }

  .footerLogo img {
    width: 120px;
  }
}