.wrapper {
    height: 10vh;
    display: flex;
    justify-content: center;
  }
  
  .typing-demo {
    width: 100%;
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: var(--color--red);
  }
